# Ambientes virtuais de Python
venv/
.venv/
__pycache__/

# Arquivos temporários gerados pelos scripts
# Não queremos versionar os dados, apenas o código que os gera
scripts/temp_data/

# Logs do Airflow
logs/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de IDEs 
.idea/
.vscode/